#assetLibrary {
  :global(.el-input__inner) {}

  margin-top: 28px;
  width: 1473px;
  //height: 1178px;
  //background: url($gxsAssetLibraryBg) no-repeat center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: #fff;
  background-clip: padding-box,
  border-box;
  background-origin: padding-box,
  border-box;
  border: 0.1rem solid transparent;
  background-image: linear-gradient(to bottom, #0a1c2f, #070d13),
  linear-gradient(155.92deg, rgba(159, 98, 219, 0.5) 0%, rgba(126, 172, 186, 0.5) 48.67%, rgba(99, 149, 231, 0.5) 96.71%);
  border-radius: 6px;
  padding-bottom: 27px;

  .title {
    width: 1413px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .left {
      height: 36px;
      line-height: 36px;

      span {
        margin-left: 10px;
      }
    }

    .right {
      display: flex;
      align-items: center;

      .frameSort1 {
        width: 134px;
        height: 36px;
        background: url($gxsAssetLibraryFrame1) no-repeat center;
        background-size: contain;
        line-height: 36px;
        margin-left: 11px;
        font-size: 12px;
        position: relative;

        .arrow {
          width: 10px;
          height: 6px;
          background: url($gxsAssetLibraryArrow) no-repeat center;
          background-size: contain;
          position: absolute;
          top: 50%;
          margin-top: -5px;
        }

        .text {}
      }

      .frameSort2 {
        width: 163px;
        height: 36px;
        // background: url($gxsAssetLibraryFrame2) no-repeat center;
        border-radius: 4px;

        @include bordergradientMY(linear-gradient(180deg, rgba(156, 104, 167, 0.7) 0%, rgba(89, 111, 226, 0.7) 100%),
          linear-gradient(180deg, rgba(18, 39, 67, 1) 0%, rgba(3, 13, 21, 1) 100%));
        background-size: contain;
        line-height: 36px;
        margin-left: 11px;
        font-size: 12px;
        position: relative;
        overflow: hidden;

        input {
          margin-left: 10px;
          font-family: "PingFang SC";
          font-size: 12px;
          color: #fff;

          &::placeholder {
            color: rgba(#fff, .8);
            /* 自定义占位符文本颜色 */
          }

          //&::placeholder {
          //  color: #fff; /* 自定义占位符文本颜色 */
          //}
        }

        .searchIcon {
          width: 14px;
          height: 14px;
          background: url($gxsAssetLibrarySearch) no-repeat center;
          background-size: contain;
          position: absolute;
          top: 50%;
          margin-top: -7px;
          right: 10px;
          cursor: pointer;
        }
      }

      .question {
        width: 24px;
        height: 24px;
        background: url($gxsAssetLibraryQuestion) no-repeat center;
        background-size: contain;
        margin-left: 20px;
        cursor: pointer;
      }
    }
  }

  .contentBox {
    display: flex;
    flex-direction: column;
    align-items: center;

    .cardBox {
      width: 1414px;
      display: flex;
      flex-wrap: wrap;
      //justify-content: center;

      .card {
        width: 154px;
        height: 235px;
        margin-left: 26px;
        margin-top: 26px;
        border-radius: 6px;
        cursor: pointer;
        // background: linear-gradient(90deg, #2D42FF 0%, #DF00C9 96.64%);
        // border: 2px solid rebeccapurple;
        @include bordergradientMY(linear-gradient(90deg, rgba(46, 61, 240, 0.9) 0%, rgba(168, 4, 157, 0.9) 100%),
          linear-gradient(90deg, #241328 0%, #000c2c 100%));
        border: 2px solid transparent;
        padding: 1px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &:nth-child(-n+8) {
          margin-top: 20px;
        }

        &:nth-child(8n+1) {
          margin-left: 0;
        }

        .cardContent {
          position: relative;
          // width: 152px;
          width: 100%;
          height: 101%;
          // height: 233px;
          background: #000;
          border-radius: 6px;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          align-items: center;

          // 空投开始
          // .aiDrop {
          //   background-color: saddlebrown;
          //   position: absolute;
          //   left: 0;
          //   top: 50%;
          //   transform: translateY(-50%);
          //   z-index: 2;
          //   width: 100%;
          //   height: 40px;
          // }

          // 空投开始end
          .icon {
            position: absolute;
            right: 4px;
            top: 4px;
            width: 24px;
            height: 24px;
            z-index: 2;
            border-radius: 2px;
            font: normal normal 700 12px 'PingFang SC';
            color: white;
            @include Myflex();
            background: #ff0000;
          }

          .cardImg {
            position: relative;
            width: 152px;
            background-color: salmon;
            height: 176px;
            //background: url($gxsAssetLibraryLinShiImage) no-repeat center;
            background-size: contain;
            border-radius: 6px;
            overflow: hidden;

            %ziti {
              position: absolute;
              left: 0;
              content: '';
              height: 2px;
              width: 100%;
              background: linear-gradient(270deg, rgba(255, 255, 255, 0.2) 0%, #f28d18 52.08%, rgba(255, 255, 255, 0.2) 100%);

            }

            // 确权
            .quequan {
              position: relative;
              position: absolute;
              left: 0;
              top: 50%;
              z-index: 2;
              width: 100%;
              transform: translateY(-50%);
              @include Myflex();
              color: #FB8F11;
              background: linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%, #000 52.08%, rgba(0, 0, 0, 0.00) 100%);
              font: normal normal 400 14px 'PingFang SC';
              height: 36px;
              flex-shrink: 0;


              &::after {
                @extend %ziti;
                top: 0;
              }

              &::before {
                @extend %ziti;
                bottom: 0;
              }
            }

            // 确权end

            // 倒计时
            .dao_time {
              position: absolute;
              left: 0px;
              // top: 10px;
              bottom: 0;
              width: 100%;
              // height: 42px;
              z-index: 3;
              // padding-left: 2px;
              font: normal normal 400 12px 'PingFang SC';
              color: #fff;
              background: rgba(0, 0, 0, 0.8);
              @include Myflex(space-between);
              flex-direction: column;

              padding: 5px 0;

              .back {
                background-image: -webkit-linear-gradient(left, #32FF9C, #32E7FD);
                -webkit-background-clip: text;

                -webkit-text-fill-color: transparent;


              }

              .time {
                p {
                  margin: auto;
                  width: 70%;
                }
              }
            }

            // 倒计时 end
            .music {
              width: 18px;
              height: 18px;
              position: absolute;
              right: 10px;
              bottom: 10px;
            }

            &:hover img {
              transform: scale(1.1);
            }

            img {
              transition: transform .3s;
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
            }
          }

          .text {
            width: 120px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            margin-top: 5px;
          }

          .cardIdBox {
            width: 132px;
            margin-top: 2px;
            height: 24px;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // overflow: hidden;

            .cardIdIcon {
              width: 24px;
              height: 24px;
              // background: url($gxsOrderCardId) no-repeat center;
              background-size: contain;
              @include Myflex();
            }

            .cardIdText {
              width: 132px;
              height: 15px;
              line-height: 15px;
              background-image: linear-gradient(to left, #FFBB4D, #815821);
              font-size: 12px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              border-radius: 2px;
              padding-left: 5px;
              transform: translateX(-2px);
            }

          }

          .number {
            width: 112px;
            height: 20px;
            margin-top: 5px;
            line-height: 20px;
            //background:url($gxsAssetLibraryNumber) no-repeat center;
            //background-size:contain;
            background-image: linear-gradient(to left, #FFBB4D, #815821);
            font-size: 12px;
            //text-align: center;
            padding-left: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: flex;

            .cardId {
              width: 16px;
              height: 16px;
              background: url($gxsOrderCardId) no-repeat center;
              background-size: contain;
            }
          }
        }

      }
    }

    .paginationBox {
      width: 1473px;
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }
  }

}