@font-face {
  font-family: 'Alibaba PuHuiTi';
  src: url('./Alibaba-PuHuiTi-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PingFang SC';
  src: url('./PingFang-SC.ttf');
  font-weight: normal;
  font-style: normal;
}
