@import './variables.scss';
@import './all.scss';

/** vue v-if 动画 */
/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/** vue v-if 动画 end */

// 滚动条样式
.scrollStyle {

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  // 滚轮样式
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: linear-gradient(180deg, #de01ca 0%, #3340fe 100%);
  }

  // 滚轮背景
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    // background: rgba(0, 0, 0, 0.1);
    background-color: #282a52;
  }
}