#orderForm {
  width: 1473px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  font-size: 14px;


  :deep(.el-input__inner) {
    box-shadow: none !important;
    color: white;
    font-size: 12px;
  }

  /* 去除边框 */
  :deep(.el-select .el-input__wrapper) {
    box-shadow: none !important;
    background-color: transparent;
  }

  /* 去除选中时蓝色边框（下面两个都要加上） */
  :deep(.el-input .el-input__wrapper.is-focus) {
    box-shadow: none !important;
  }

  :deep(.el-range-editor.el-input__wrapper) {
    width: 163px;
  }

  //去掉下拉框小三角
  :deep(.el-popper[x-placement^=bottom] .popper__arrow::after) {
    border-bottom-color: transparent;
  }

  :deep(.el-popper .popper__arrow, .el-popper .popper__arrow::after) {
    border-style: none !important;
  }

  .title {
    width: 1473px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 23px;

    .left {
      display: flex;
      align-items: center;

      .CreateDateTime {
        margin-left: 20px;
        width: 163px;
        height: 36px;
        cursor: pointer;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        font-size: 12px;

        :deep(.el-input__wrapper) {
          background-color: red;
        }

        .text {
          width: 163px;
          height: 36px;
          line-height: 36px;
          //text-align: center;
          padding-left: 22px;
          position: absolute;
          z-index: 100;
          background: url($gxsAssetLibraryFrame2) black no-repeat center;
          background-size: contain;

          .icon {
            width: 16px;
            height: 16px;
            background: url($gxsOrderGoPackDateTimeIcon) no-repeat center;
            background-size: contain;
            position: absolute;
            top: 50%;
            margin-top: -8px;
            right: 14px;
          }

        }

        .CreateDateTimePicker {
          position: absolute;
          top: 100px;
          opacity: 0;
          z-index: -100;
        }
      }

      .PayDateTime {
        margin-left: 20px;
        width: 163px;
        height: 36px;

        cursor: pointer;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        font-size: 12px;

        .text {
          width: 163px;
          height: 36px;
          line-height: 36px;
          //text-align: center;
          padding-left: 22px;
          position: absolute;
          z-index: 100;
          background: url($gxsAssetLibraryFrame2) black no-repeat center;
          background-size: contain;

          .icon {
            width: 16px;
            height: 16px;
            background: url($gxsOrderGoPackDateTimeIcon) no-repeat center;
            background-size: contain;
            position: absolute;
            top: 50%;
            margin-top: -8px;
            right: 14px;
          }
        }


        .PayDateTimePicker {
          position: absolute;
          top: 100px;
          opacity: 0;
          z-index: -100;
        }
      }
    }

    .right {
      display: flex;
      justify-content: right;
      align-items: center;

      .frameSort2 {
        width: 163px;
        height: 36px;
        background: url($gxsAssetLibraryFrame2) no-repeat center;
        background-size: contain;
        line-height: 36px;
        margin-left: 11px;
        font-size: 12px;
        position: relative;
        overflow: hidden;



        input {
          margin-left: 10px;
          font-size: 12px;
          color: #fff;
          width: 75%;

          &::placeholder {
            color: rgba(#fff, .5);
            /* 自定义占位符文本颜色 */
          }
        }

        .searchIcon {
          width: 14px;
          height: 14px;
          background: url($gxsAssetLibrarySearch) no-repeat center;
          background-size: contain;
          position: absolute;
          top: 50%;
          margin-top: -7px;
          right: 10px;
          cursor: pointer;
        }

      }

      .question {
        width: 24px;
        height: 24px;
        background: url($gxsAssetLibraryQuestion) no-repeat center;
        background-size: contain;
        margin-left: 20px;
        cursor: pointer;
      }
    }
  }

  .orderDetails {
    width: 1470px;
    margin: 25px;
    border-radius: 6px;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    border: 1px solid transparent;
    background-image: linear-gradient(to top, #070d13, #070d13), linear-gradient(155.92deg, rgba(159, 98, 219, 0.5) 0%, rgba(126, 172, 186, 0.5) 48.67%, rgba(99, 149, 231, 0.5) 96.71%);
    //overflow: hidden;

    .orderTitleBg {
      width: 1468px;
      height: 52px;
      background: url($gxsOrderTitleBg) no-repeat center;
      background-size: 100%;
      display: flex;
      line-height: 52px;

      .text {
        width: 60px;
        margin-left: 173px;

        &:nth-child(2) {
          margin-left: 253px;
        }

        &:nth-child(3) {
          margin-left: 153px;
        }

        &:nth-child(4) {
          margin-left: 155px;
        }

        &:nth-child(5) {
          margin-left: 192px;
        }

        &:nth-child(6) {
          margin-left: 166px;
        }
      }

    }

    .borderFrame {
      width: 1470px;
      height: 1px;
      background: url($gxsOrderBorderFrame) no-repeat center;
      background-size: 100% 100%;
    }

    .orderList {
      width: 1468px;

      .orderListBox {
        width: 1468px;
        height: 155px;
        cursor: pointer;
        background: url($gxsOrderListNone) no-repeat center;
        background-size: contain;
        transition: all .3s;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover {
          background: url($gxsOrderListActive) no-repeat center;
          background-size: contain;
        }

        .head {
          width: 1391px;
          height: 41px;
          line-height: 41px;
          display: flex;
          align-items: center;

          .copyIcon {
            width: 19px;
            height: 19px;
            background: url($gxsPersonalCopyIcon) no-repeat center;
            background-size: contain;
            margin-left: 15px;
          }
        }

        .content {
          width: 1468px;
          height: 114px;
          display: flex;
          align-items: center;

          .cardImgBox {
            //width: 69px;
            //height: 83px;
            margin-left: 39px;
            position: relative;
            padding-right: 26px;

            &:after {
              content: "";
              display: block;
              height: 0;
              clear: both;
              visibility: hidden;
            }

            .cardImg {
              width: 69px;
              height: 83px;
              border-radius: 4px;
              background-clip: padding-box, border-box;
              background-origin: padding-box, border-box;
              border: 1px solid transparent;
              background-image: linear-gradient(to top, #000, #000), linear-gradient(180deg, rgba(245, 158, 255, 0.6) 0.01%, rgba(99, 125, 255, 0.6) 100%);
              overflow: hidden;
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                // max-width: 100%;
                // max-height: 100%;
                width: 100%;
                height: 100%;
              }
            }

            .orderDetailsBox {
              width: 290px;
              height: 618px;
              padding-left: 24px;
              position: absolute;
              top: 50%;
              left: 63px;
              z-index: 999;
              margin-top: -309px;

              .orderDetailsPopup {
                width: 270px;
                height: 570px;
                background: url($gxsorderDetailsPopupBig) no-repeat center;
                background-size: 100% 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                &.dzb {
                  height: 618px;
                  background: url($gxsorderDetailsPopup) no-repeat center;
                  background-size: 100% 100%;
                }

                .titleIcon {
                  width: 48px;
                  height: 48px;
                  margin-top: 21px;

                  &.active0 {
                    background: url($gxsorderDetailsIcon) no-repeat center;
                    background-size: contain;
                  }

                  &.active1 {
                    background: url($gxsorderDetailyzfIcon) no-repeat center;
                    background-size: contain;
                  }

                  &.activef2 {
                    background: url($gxsorderDetailytkIcon) no-repeat center;
                    background-size: contain;
                  }

                  &.activef1 {
                    background: url($gxsorderDetailyqxIcon) no-repeat center;
                    background-size: contain;
                  }

                  &.active2 {
                    background: url($gxsorderDetailzfwcIcon) no-repeat center;
                    background-size: contain;
                  }
                }

                .titleText {
                  height: 20px;
                  line-height: 20px;
                  color: #FAB74C;
                  margin-top: 7px;
                }

                .imgBox {
                  margin-top: 17px;
                  width: 118px;
                  height: 150px;
                  background-clip: padding-box, border-box;
                  background-origin: padding-box, border-box;
                  border: 1px solid transparent;
                  border-radius: 3.8px;
                  background-image: linear-gradient(to top, #070d13, #070d13), linear-gradient(180deg, #F59EFF 0.01%, #637DFF 100%);
                  overflow: hidden;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  img {
                    max-width: 100%;
                    max-height: 100%;
                  }
                }

                .name {
                  margin-top: 18px;
                }

                .numberBox {
                  min-width: 138px;
                  height: 28px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  position: relative;
                  margin-top: 20px;

                  .numberBox-icon {
                    width: 28px;
                    height: 28px;
                    background: url($gxsorderDetailsNumber) no-repeat left;
                    background-size: contain;
                    position: absolute;
                    top: 0;
                    left: 0;
                  }

                  .numberBox-text {
                    min-width: 108px;
                    height: 18px;
                    line-height: 18px;
                    background-image: linear-gradient(to left, #FFBB4D, #815821);
                    font-size: 12px;
                    padding-left: 33px;
                    padding-right: 6px;
                    text-align: center;
                    border-radius: 4px;
                  }

                }

                .btnBox {
                  width: 219px;
                  height: 36px;
                  display: flex;
                  justify-content: space-between;
                  margin-top: 24px;

                  .close,
                  .payBtn {
                    width: 100px;
                    height: 36px;
                    text-align: center;
                    line-height: 36px;
                    background: url($gxsorderDetailsCloseBtn) no-repeat center;
                    background-size: contain;
                  }

                  .payBtn {
                    background: url($gxsorderDetailsPayBtn) no-repeat center;
                    background-size: contain;
                  }
                }

                .border {
                  width: 268px;
                  height: 2px;
                  background: url($gxsorderDetailsborder) no-repeat center;
                  background-size: contain;
                  margin-top: 28px;
                }

                .contentText {
                  width: 268px;
                  height: 140px;
                  text-align: left;
                  overflow: auto;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  margin-top: 20px;

                  /* 宽度和高度 */
                  &::-webkit-scrollbar {
                    width: 2px;
                    height: 2px;
                  }

                  /* 滑块 */
                  &::-webkit-scrollbar-thumb {
                    background: linear-gradient(to bottom, #ff0000, #0000ff);
                  }

                  /* 滑道 */
                  &::-webkit-scrollbar-track {
                    background: transparent;
                  }


                  .contentTextBox {
                    width: 220px;
                    display: flex;
                    height: 17px;
                    line-height: 17px;
                    margin-top: 17px;
                    justify-content: center;

                    .label {
                      width: 61px;
                      font-size: 12px;
                      color: #B8B8B8;
                    }

                    .dataValue {
                      width: 137px;
                      font-size: 12px;
                    }
                  }
                }


              }
            }

          }

          .nameBox {
            width: 220px;
            height: 114px;
            //margin-left: 26px;

            .name {
              margin-top: 26px;
            }

            .number {
              height: 28px;
              margin-top: 33px;
              display: flex;
              position: relative;

              .icon {
                position: absolute;
                top: 0;
                left: 0;
                width: 28px;
                height: 28px;
                background: url($gxsorderDetailsNumber) no-repeat center;
                background-size: contain;
                z-index: 2;
              }

              .text {
                height: 18px;
                line-height: 18px;
                padding-left: 28px;
                padding-right: 7px;
                min-width: 100px;
                margin-left: 5px;
                color: #fff;
                background-image: linear-gradient(to left, #FFBB4D, #815821);
                position: absolute;
                top: 50%;
                margin-top: -9px;
                border-radius: 2px;
              }
            }
          }

          .money {
            margin-left: 108px;
            width: 100px;
            text-align: center;
          }

          .payment {
            margin-left: 118px;
            width: 100px;
            text-align: center;
          }

          .createTime {
            margin-left: 70px;
            width: 180px;
            text-align: center;
          }

          .payTime {
            margin-left: 70px;
            width: 180px;
            text-align: center;
          }

          .payBox {
            width: 70px;
            margin-left: 98px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            .state {
              width: 70px;
            }

            .btn {
              width: 70px;
              height: 20px;
              line-height: 20px;
              text-align: center;
              background: url($gxsOrderGoPayBtn) no-repeat center;
              background-size: contain;
              margin-top: 20px;
            }
          }
        }
      }

      .bottomMsg {
        transform: translateY(-70px);
        width: 1470px;
        text-align: center;
        padding-bottom: 150px;
        margin: 10px 0;
      }
    }
  }

}