#myAccount {
  width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .content {
    width: 1473px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-family: "PingFang SC";
    color: #fff;

    .tabBox {
      width: 1473px;
      height: 213px;
      background-size: contain;
      margin-top: 28px;
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box;
      background-image: linear-gradient(155.92deg, rgba(159, 98, 219, 0.5) 0%, rgba(126, 172, 186, 0.5) 48.67%, rgba(99, 149, 231, 0.5) 96.71%);
      display: flex;
      align-items: center;
      justify-content: center;

      .bg {
        width: 1471.4px;
        height: 211px;
        background: #0e1045;
        border-radius: 10px;
        background: url($gxsMyAccountTabBg) no-repeat center;
        background-size:100%;
        position: relative;

        .icons {
          position: absolute;
          bottom: -24px;
          left: 308px;
          width: 30px;
          height: 30px;
          border: 1.8px solid  #485869;
          transform: rotateZ(45deg);
          background: #0c141d;
          transition: all .3s;
          z-index: 100;
        }
        .nickName{
          height: 20px;
          position: absolute;
          top: 50%;
          margin-top: -10px;
          line-height: 20px;
          font-size: 14px;
          left: 178px;
        }

        .exitBtn {
          width: 76px;
          height: 28px;
          background: url($gxsMyAccountExitBtn) no-repeat center;
          background-size: contain;
          position: absolute;
          top: 20px;
          right: 13px;
          color: #fff;
          font-size: 12px;
          line-height: 28px;
          text-align: center;
          cursor: pointer;

        }

        .avatar {
          width: 132px;
          height: 132px;
          background: url($gxsMyAccountAvatar) no-repeat center;
          background-size: contain;
          position: absolute;
          left: 32px;
          top: 48px;
          z-index: 15;
          display: flex;
          align-items: center;
          justify-content: center;

          .photo {
            position: relative;
            width: 119px;
            height: 119px;
            border-radius: 10px;
            //background: url($gxsMyAccountAvatarStroke) no-repeat center;
            background-size: contain;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            padding: 1px;
            background-clip: padding-box, border-box;
            background-origin: padding-box, border-box;
            border: 1px solid transparent;
            background-image: linear-gradient(to top, #070d13, #070d13), linear-gradient(155.92deg, rgba(159, 98, 219, 0.5) 0%, rgba(126, 172, 186, 0.5) 48.67%, rgba(99, 149, 231, 0.5) 96.71%);
            overflow: hidden;

            .photoBox {
              width: 117px;
              height: 117px;
              overflow: hidden;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 10px;
              background-size: contain;

              img {
                max-width: 100%;
                max-height: 100%;
              }
            }
          }

        }

        .tabs {
          width: 1471px;
          height: 60px;
          position: absolute;
          left: 50%;
          margin-left: -735.5px;
          bottom: 0;
          z-index: 10;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          overflow: hidden;
          border-top: 1px solid rgba(#fff, .3);

          .bg {
            width: 1471px;
            height: 60px;
            background: url($gxsMyAccountTabText) no-repeat center;
            background-size: contain;

            .tabsText {
              height: 60px;
              line-height: 60px;
              margin-left: 302px;
              display: flex;

              position: relative;

              .text {
                height: 60px;
                line-height: 60px;
                margin-right: 100px;
                position: relative;

                .TabName {
                  cursor: pointer;
                }

                .icon {
                  position: absolute;
                  right: -6px;
                  top: 16px;
                  width: 6px;
                  height: 6px;
                  border-radius: 50%;
                  background: #ff0000;
                }

              }
            }

            .polygon {
              position: absolute;
              bottom: -1px;
              left: 318px;
              width: 0px;
              height: 0px;
              margin-left: -16px;
              border-left: 16px solid transparent;
              border-right: 16px solid transparent;
              border-bottom: 16px solid #3D517B;
              opacity: 1;
              transition: opacity .3s;
              //&.active{
              //  opacity: 1;
              //}
              .polygonAfter {
                position: absolute;
                bottom: -16px;
                left: -14px;
                width: 0;
                height: 0;
                border-left: 14px solid transparent;
                border-right: 14px solid transparent;
                border-bottom: 14px solid #000;
              }
            }
          }
        }
      }

    }

    //.box {
    //  width: 100%;
    //  height: 1000px;
    //  background: #00d1ff;
    //}
  }
}
