// ---------------登录素材------------------------------
$gxsLoginLeft:'@/assets/images/login/loginLeft.png';
$gxsLoginBg:'@/assets/images/login/loginbg.png';
$gxsLoginInput:'@/assets/images/login/input.png';
$gxsLogo:'@/assets/images/login/logo.png';
$gxsLoginActiveIcon:'@/assets/images/login/activeIcon.png';
$gxsLoginClose:'@/assets/images/login/loginclose.png';
$gxsBtnBg:'@/assets/images/login/btnbg.png';

// -------------------个人中心素材-----------------------
$gxsMyAccountTabBg:'@/assets/images/myAccount/tabbg.png';
$gxsMyAccountTabText:'@/assets/images/myAccount/tabtext.png';
$gxsMyAccountExitBtn:'@/assets/images/myAccount/exitBtn.png';
$gxsMyAccountAvatar:'@/assets/images/myAccount/avatar.png';
$gxsMyAccountAvatarStroke:'@/assets/images/myAccount/avatarStroke.png';
$gxsMyAccountBigStroke:'@/assets/images/myAccount/bigStroke.png';
$gxsMyAccountPolygon:'@/assets/images/myAccount/Polygon1.png';
//资产库
$gxsAssetLibraryBg:'@/assets/images/myAccount/assetLibraryBg.png';
$gxsAssetLibraryFrame1:'@/assets/images/myAccount/frame1.png';
$gxsAssetLibraryFrame2:'@/assets/images/myAccount/frame2.png';
$gxsAssetLibraryArrow:'@/assets/images/myAccount/arrow.png';
$gxsAssetLibrarySearch:'@/assets/images/myAccount/search.png';
$gxsAssetLibraryQuestion:'@/assets/images/myAccount/question.png';
$gxsAssetLibraryLinShiImage:'@/assets/images/myAccount/linshiImage.png';
$gxsAssetLibraryNumber:'@/assets/images/myAccount/assetLibraryNumber.png';
//个人中心
$gxsPersonalBg:'@/assets/images/myAccount/personalbg.png';
$gxsPersonalCopyIcon:'@/assets/images/myAccount/copyIcon.png';
$gxsPersonalInputActive:'@/assets/images/myAccount/inputActive.png';
$gxsPersonalInputNone:'@/assets/images/myAccount/inputNone.png';
$gxsPersonalTitle:'@/assets/images/myAccount/personalTitle.png';
$gxsPersonalPromotion:'@/assets/images/myAccount/promotion.png';
//资产库
$gxsOrderTitleBg:'@/assets/images/myAccount/orderTitleBg.png';
$gxsOrderBorderFrame:'@/assets/images/myAccount/borderFrame.png';
$gxsOrderListNone:'@/assets/images/myAccount/orderListNone.png';
$gxsOrderListActive:'@/assets/images/myAccount/orderListActive.png';
$gxsOrderCardId:'@/assets/images/myAccount/cardId.png';
$gxsOrderGoPayBtn:'@/assets/images/myAccount/gopayBtn.png';
//弹窗
$gxsPasswordPopup:'@/assets/images/myAccount/passwordPopup.png';
$gxspupupClose:'@/assets/images/myAccount/pupupClose.png';
$gxspupupborderBottom:'@/assets/images/myAccount/borderBottom.png';
$gxspupupInputFrame:'@/assets/images/myAccount/pupupInputFrame.png';
$gxspasswordPopupBtn:'@/assets/images/myAccount/passwordPopupBtn.png';
$gxsauthenticationPopup:'@/assets/images/myAccount/authenticationPopup.png';
$gxsauthenticationPopupBtn:'@/assets/images/myAccount/authenticationPopupBtn.png';
$gxsauthenticationConfirmPopup:'@/assets/images/myAccount/authenticationConfirmPopup.png';

