// ---------------登录素材------------------------------
$gxsLoginLeft:'@/assets/images/login/loginLeft.png';
$gxsLoginBg:'@/assets/images/login/loginbg.png';
$gxsLoginInput:'@/assets/images/login/input.png';
$gxsLogo:'@/assets/images/login/logo.png';
$gxsLoginActiveIcon:'@/assets/images/login/activeIcon.png';
$gxsLoginClose:'@/assets/images/login/loginclose.png';
$gxsBtnBg:'@/assets/images/login/btnbg.png';
