
$gxsnavbg:'@/assets/images/navTop/bg.png';
$gxslogo:'@/assets/images/navTop/logo.png';
$gxsnavHover:'@/assets/images/navTop/navHover.png';
$gxsappdownload:'@/assets/images/navTop/app.png';
$gxsDMoney:'@/assets/images/navTop/Dbi.png';
$gxssearch:'@/assets/images/navTop/sou.png';
$gxstiao1:'@/assets/images/navTop/tiao1.png';
$gxstiao2:'@/assets/images/navTop/tiao2.png';
$gxsRecharge:'@/assets/images/navTop/充值.png';
$gxscardMoney:'@/assets/images/navTop/卡币.png';
$gxscardMoney:'@/assets/images/navTop/卡币.png';
$gxscarousebg:'@/assets/images/navTop/carousebg.png';
$gxscloseBtn:'@/assets/images/navTop/closeBtn.png';
$gxsopenBtn:'@/assets/images/navTop/openBtn.png';
$gxsbannerBoxs:'@/assets/images/navTop/bannerBoxs.png';
$gxsuserbannerbg:'@/assets/images/navTop/userbannerbg.png';
$gxsuploadContent:'@/assets/images/navTop/uploadContent.png';
$gxsavatar :'@/assets/images/navTop/avatar.png';
$gxsdian:'@/assets/images/navTop/dian.png';
$gxspromotionBtn:'@/assets/images/navTop/promotionBtn.png';
$gxsexitIcon:'@/assets/images/navTop/exitIcon.png';
$gxsqrcardIcon:'@/assets/images/navTop/qrcardIcon.png';
$gxsddmxIcon:'@/assets/images/navTop/ddmxIcon.png';
$gxsgrzxIcon:'@/assets/images/navTop/grzxIcon.png';
$gxszckIcon:'@/assets/images/navTop/zckIcon.png';
$gxsvectorIcon:'@/assets/images/navTop/vector.png';


